{
  "defaultConfig":{
    "buildType":"develop",
    "api":"AdaptedScript"
  },
  "resources":[
    {
      "path":"resource/",
      "resourceType":"resource"
    }
  ],
  "javaDirs":[
    {
      "path":"java/"
    }
  ],
  "compile":[
    {
      "path":"launcher.js",
      "sourceType":"launcher"
    },
    {
      "path":"main.js",
      "sourceType":"mod"
    }
  ],
  "buildDirs":[],
  "nativeDirs":[]
}